<li id="<%= media.id %>">
  <span class="content">
    <%= link_to "#{media.description}", "#{media.url}" %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(media.created_at) %> ago.
  </span>
  <%= link_to "delete", media, method: :delete,
              data: { confirm: "Are you sure?"} %>
</li>