<h1>Contact Me:</h1>
<address>
  Written by <a href="mailto:chandan.jhun@gmail.com">Chandan Kumar</a>.<br>
  Visit my blog <a href="http://indyarock.wordpress.com" target="_blank">here</a><br>
</address>